<div class="card card-primary card-inverse">
    <div class="card-header">
      Detalles
      <span class="mr-auto"></span>
      <div class="card-controls">
        <a href="javascript:;" >
          <i class="icon icon-software-pencil"></i>
        </a>
      </div>
    </div>
    <div class="card-body row" >
      <div class="col">
        <p class="card-text">
          <b>Nombre:</b> Pablo Zermeño<!-- {{user.firstName}} {{user.lastName}} -->
        </p>
        <p class="card-text">
          <b>Username:</b> Swaggernation<!-- {{user.username}} -->
        </p>
        <p class="card-text">
          <b>Email:</b> pzg_97@hotmail.com<!--  {{user.email}} -->
        </p>
        <p class="card-text">
          <b>Teléfono:</b> 3111430451<!-- {{user.phoneNumber}} -->
        </p>
        <br>
      </div>
      <div class="col" >
        <p class="card-text">
          <b>Foto de Perfil:</b>
        </p>
        <div class="justify-content-center">
          <img class="img-thumbnail" src="assets/pablo.jpeg"  style="max-height: 150px">
        </div>
      </div>
    </div>
  </div>

