<h1>Instrucciones</h1>
<div class="list-group">
  <a  class="list-group-item list-group-item-action active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Ir a la ventana de cargar fotos</h5>
      <small>Paso 1</small>
    </div>
    <p class="mb-1">Ingresa a la pestaña de cargar fotos para poder cargar las fotos solo jala las imagenes desde tus carpetas</p>
    <small>Por consecuente da click en agregar fotos a firebase una vez haciendo este paso, veras cargar la barra de progreso</small>
  </a>
  <a  class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Ver las fotos</h5>
      <small class="text-muted">Paso 2</small>
    </div>
    <p class="mb-1">Para ver las fotos solo tienes que irte a la pestaña de las fotos y esperar a que cargue la pagina para ver tus fotos subidas</p>
    <small class="text-muted">cararan las fotos una por una</small>
  </a>
  <a  class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Limpiar tabla de archivos</h5>
      <small class="text-muted">Paso 3</small>
    </div>
    <p class="mb-1">Una vez que terminaste tu progreso, solo limpia tu tabla de archivos dando click al boton rojo (Limpiar archivos)</p>
    <small class="text-muted">nota importante necesitas internet</small>
  </a>
</div>
